<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
  .hover{
    border:1px solid #000;
    background-color: #fff;
  }
  </style>
</head>
<body>
  <input type="text"/>
  <input type="text" value="http://test.pro.testin.cn/s/83a357a5" id="link_text"><button title="复制" id="copy_link" data-clipboard-target="link_text">复制</button>
  <p class="share-copy-tip"></p>
  <div style="width:400px;height:400px; background-color:rgba(0,0,0,.5);position:absolute;top:300px;">
    asdfasdfasdfadsf
  </div>
  <script type="text/javascript" src="../static/js/jquery.js"></script>
  <script type="text/javascript" src="../static/js/input.js"></script>
  <script type="text/javascript" src="../static/js/outerClick.js"></script>
  <script type="text/javascript" src="../static/js/zeroclipboard/1.3.5/ZeroClipboard.min.js"></script>
  <script type="text/javascript" src="../static/js/clipboard.js"></script>
  <script type="text/javascript">
    function initClip() {
      var $tip = $(".share-copy-tip"),
      $btn = $("#copy_link");

      var clip = new ZeroClipboard($btn.get(0), {
          moviePath: "/static/js/zeroclipboard/" + ZeroClipboard.version + "/ZeroClipboard.swf",
          flashLoadTimeout: 1e4,
          hoverClass: "hover"
      });

      clip.on("noFlash", function () {
          $tip.text("请安装flash插件或手动复制!").fadeIn("slow"),
              ZeroClipboard.destroy()
      }).on("wrongFlash", function () {
          $tip.text("请更新flash插件或手动复制!").fadeIn("slow"),
              ZeroClipboard.destroy();
      })

      clip.on('ready', function(){
        console.log('111111');
        this.on('aftercopy', function(event){
          console.log('aaaaaaa');
          $tip.text("复制成功!").fadeIn("slow").delay(3e3).fadeOut();
        });
      });

      clip.on('error', function(event){
          $tip.text("出错啦，请手动复制！").fadeIn("slow");
          ZeroClipboard.destroy();
      });
    }
    $(function(){
      initClip();
      $('input').input(function(){
        console.log($(this).val());
      });
      $('div').on('outerClick',function(){
        console.log($(this).text());
      });
    });
  </script>
</body>
</html>
